  
{% extends "master.html" %}

{% block title %}
  Details about {{ mysedan_car.car_make }} {{ mysedan_car.car_model }}
{% endblock %}


{% block content %}
  <h1>{{ mysedan_car.car_make }} {{ mysedan_car.car_model }}</h1>
  
  <p>Milage: {{ mysedan_car.milage }}</p>
  <p>Release year: {{ mysedan_car.release }}</p>
  <p>Color: {{ mysedan_car.color }}</p>
  <p> Image: <img style='max-width:500px'src={{mysedan_car.image.url}} alt=""/></p>

 <!-- Video loaded through admin Start -->
  <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />

 <p> Video: <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="500"
    height="264"
    poster=""
    data-setup="{}"
    loop = "True"

  >
  Video:  <source src="{{mysedan_car.video.url}}" type="video/mp4" />
   
  </video></p>
  
          <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
 <!-- Video loaded through admin END -->

<!--p>Video: <video style='max-width:600px' class="video-fluid"  autoplay loop muted >
     <source src="{{mysedan_car.video.url}}" type="video/mp4" />
            </video>
          </p-->
  <p>Back to <a href="/sedan_cars">Sedan cars</a></p>
  
{% endblock %}